* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    background-color: rgb(230, 234, 240);
}

li {
    list-style-type: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.section {
    width: 50%;
    padding: 2%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.header-container {
    width: 100%;
    height: 10%;
    background-color: rgb(197, 232, 235);
    border: 3px solid green;
    /*Параметрырамки*/
    box-shadow: 0 0 7px #666;
}

.nav {}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(6, 90, 86);
}

.nav-item:hover {
    background: #eee899;
    border-radius: 3px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

img {
    border-radius: 250px;
    /*Радиусскругления*/
    border: 3px solid green;
    /*Параметрырамки*/
    box-shadow: 0 0 7px #666;
    /*Параметрытени*/
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
    -ms-border-radius: 250px;
    -o-border-radius: 250px;
    -webkit-border-radius: 250px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 35px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    margin-right: 65%;
    padding: .45em;
}

.copyright {
    padding: .55em;
}

.copyright p {
    vertical-align: middle;
    font-size: 20px;
}

svg {
    width: 100px;
    height: 50px;
}